body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F5F9;
    font-family: 'Lato', sans-serif;
}
p{
    color: #677489;
}
.container{
    width: 448px;
    background-color: #FFFFFF;
    box-shadow: #F2F5F9 1px 1px 1px 1px;
    border-radius: 10px;
}
.container .image img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.container .image .overlay{
    width: 448px;
    position: absolute;
    top: 237px;
}
.container .heading{
    margin: 20px;
    font-size: 16px;
    font-weight: 1rem;
}
.heading h1{
    font-family: "Poppins", sans-serif;
}
.container .portfilio{
    display: flex;
    width: 100%;
}
.container .portfilio img{
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    border:  5px solid #F2F5F9;
}
.person h1{
    font-size: 16px;
}
.person p{
    font-size: 16px;
    font-weight: 1rem;
}

